{% extends 'base.html' %}

{% load static %}

{% block title %} | About {% endblock %}

{% block content %}
    <div class="general">
        <div class="container py-4">
                    <h1 class="display-4 text-center text-danger">
                        ABOUT MINERSHOME
                    </h1>
                    <p id="gen" class="text-dark">
                        Our bitcoin mining system is suitable for those who are new to the world of Cryptocurrencies, as well as for cryptocurrency experts and large-scale miners. MinersHome is the World’s first large-scale multi-algorithm cloud mining service offering an alternative to those who would like to engage in Bitcoin.<br>
                        We are a team of experts in the digital currency sector, and our bitcoin and Cryptocurrency mining algorithms are designed to provide the most efficient and reliable mining rentals.
                        The return our technology will bring within short time is extremely high. We are not Ponzi scheme nor HYIP. We are direct bitcoin cloud mining platform that sell short term contract.
                        Our platform can make you bitcoin rich if only you give us a trial and see the result
                        for yourself.<br>
                        Making such high amount of bitcoin on our platform is definitely too good to be true. Scammers
                        promise people high returns to lure them but we are not into deceiving anyone to take money but
                        we are into real mining with bitcoin hardware.<br>
                        We are knowledgeable and use advance blockchain hardware technology to mine bitcoin vigorously within short time.<br>
                        Our technology does not need too many users so we always have limited slots available. The mining
                        hashpower we give to users on our platform is very high and this is the reason our mining is so
                        fast. Our mining hashpower is so cheap as compared to any competitor in the market and our
                        contract is very short term and will help users to make profit fast and reinvest more.
                        Our platform does not require many users therefore we have limited mining slots available.
                        Our $250 plan seems to be the most patronage plan and mostly not available. If one package is
                        not available, just go ahead and use the other package.<br>
                        We are located in Iceland where cheap thermal energy is accessible to lower the cost of energy
                        usage for mining.<br>
                        Our platform is 100% safe for mining and we give 100% guarantee on the result promised on every
                        mining contract.<br>
                        Use our platform for mining today and become rich tomorrow.<br>
                        Welcome to the world of the riches!
                    </p>
        </div>
    </div>
{% endblock %}
