{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} | FAQs {% endblock %}

{% block content %}
    <div class="general">
        <div class="container py-4">
                    <h1 class="display-4 text-center text-danger">
                        FREQUENTLY ASKED QUESTIONS
                    </h1>
                    <p id="gen" class="text-dark">
                        1. What is MinersHome?<br>
                        MinersHome is a new bitcoin mining platform that offers instant bitcoin mining packages to its members.<br><br>

                        2. How MinersHome works?<br>
                        Our platform is a real bitcoin mining. We have sophisticated bitcoin mining technology that creates bitcoin efficiently.<br><br>

                        3. What does MinersHome platform consists of?<br>
                        We use sophisticated hardware in combination with high efficient software. To the end user, it is an online hosted software but in reality, the online software communicates with our advance hardware to generate the bitcoin.<br><br>

                        4. Do I need to create account on your platform?<br>
                        We respect privacy of our users and since bitcoin itself ensure anonymity, our platform is highly anonymous. We do not ask any sensitive information about you.<br><br>

                        5. How long does mining take?<br>
                        Mining on our platform is rapid and instant. It can take up to an hour sometimes.<br><br>

                        6. How many times can I buy mining contract on your platform?<br>
                        You can buy unlimited contract on our platform as long as there is slot available.<br><br>

                        7. How can I know there is mining slot available on your platform?<br>
                        We update our website very quickly about the slots that are available.<br><br>

                        8.Is there a possibility that I lose my money?<br>
                        No way. You cannot lose your mining on our platform. You will
                        definitely make profit with our mining technique.<br><br>

                        9.	What if in any case my mining fail?<br>
                        Mining cannot fail but then there can be errors due to many factors. If this happen, we will give you full refund then you can try again.<br><br>

                        10.	Do you have any hidden fee?<br>
                        Our mining term is very short so we do not charge any maintenance fee or any other hidden fee.
                        Our mining is 100% transparent.<br><br>

                        11.	Do you have referral program?<br>
                        Yes, our referral program pays 12% commission on every bitcoin your referral mined. This is very lucrative especially if you have many referrals mining actively since our mining pays really high.<br><br>

                        12.	What if I send lower than the minimum amount for any plan?<br>
                        Our system will reject any low payment. With this in mind, it is advisable to pay a little higher than the minimum fee always to avoid drops due to bitcoin liquidity.<br><br>

                        13.	What if I have more questions?<br>
                        If you have more questions, contact us on minershomeaddmin@gmail.com
                    </p>
        </div>
    </div>
{% endblock %}
