{% extends "base.html" %}

{% load static %}

{% block title %} | Gold Final {% endblock %}

{% block content %}
<div class="bg-light py-5 final">
    <div class="container">
        <p>You are almost there!</p>
        <p>Send <span class="text-danger font-weight-bold">$250</span> to the bitcoin address <span class="text-danger font-weight-bold">1KdkMnYBjqP86HpKAUbHhYBcnHKs4Kv4qQ</span> for the bitcoin mining process to begin.</p>

        <p class="text-info"><em>Please make sure the bitcoin address you provided is correct as we will not be held accountable if you did not receive your investment due to the provision of wrong bitcoin address. Contact the admin if you made a mistake whiles entering your bitcoin address.</em></p>
    </div><br>
    {% include 'miners_pages/_progress.html' %}
</div>
{% endblock %}
