{% extends 'base.html' %}

{% load static %}

{% block title %} | T&C {% endblock %}

{% block content %}
    <div class="general">
        <div class="container py-4">
                    <h1 class="display-4 text-center text-danger">
                        TERMS AND CONDITIONS
                    </h1>
                    <p id="gen" class="text-dark">
                        MinersHome is a bitcoin mining platform that uses bitcoin hardware to mine bitcoin 24/7.
                        Please take the time to read and understand our Terms and Conditions. The following is the
                        legal contract between You (Client) and MinersHome. By making an investment with us you
                        automatically state that you have read, fully understood, accept and agree to abide by our
                        Terms and Conditions when using our services. Terms and Conditions defines MinersHome
                        services including Client`s and MinersHome obligations in regard to any transactions
                        through MinersHome website.<br><br>

                        1. General <br>

                        1.1. Residents of any country can use MinersHome.<br>
                        1.2. Client invest funds into mining plan offered by MinersHome using bitcoin. <br>
                        1.3. MinersHome requires you to act as an individual and not on behalf of any other
                        entity or authority.<br><br>

                        2. Investment Plans <br>

                        2.1. Client deposits money into one investment plan and earn promised return within 24 hours.<br>
                        User must deposit not less than the minimum amount. Any less deposit will be automatically
                        refunded. Because of the volatility of bitcoin, user is advice to deposit higher than the
                        minimum deposit amount. <br>
                        2.3. MinersHome can modify investment plan conditions any time.<br><br>

                        3. Depositing funds <br>

                        3.1. Depositing funds to MinersHome is executed with 1 different types via bitcoin <br>
                        cryptocurrency in accordance with the Client`s Agreement.
                        3.2. You must deposit funds to the cryptocurrency address given on the payment page of the
                        main form only. You can make as many deposits as you want to the addresses given in the third step.<br>
                        3.3. The deposit will be added to the list of investments after the transaction is confirmed by
                        the network (it takes from 10 minutes to 1 hour to get confirmation from the network. Sometimes,
                        bitcoin transactions delay longer. We have no control over bitcoin confirmations).<br><br>

                        4. Payouts <br>

                        4.1. MinersHome investment plan earnings are paid within few minutes directly to the bitcoin
                        address the user provided, sometimes, the earning deposit can occur after the 24-hour contract
                        period. MinersHome is not responsible if the user enters wrong btc address.<br>
                        4.2. Unavailability of MinersHome website due to technical reasons, downtime, does not
                        have effect on the payouts.<br>
                        4.3. The payout usually takes around 10 minutes after an hour mining. In some cases the payout
                        could be delayed up to 24 hours.<br>
                        4.4. The commission for cryptocurrency transfer is paid by us. Affiliate payment is done every
                        24 hours.<br><br>

                        5. Warranties <br>

                        5.1. MinersHome warrants the safety of the invested amounts and interest stability.<br>
                        5.2. MinersHome guarantees all payments made in time and under the terms stipulated in this
                        Agreement.<br>
                        5.3. MinersHome is not associated with any cryptocurrency payment system and not liable for
                        any problems in their performance.<br><br>

                        6. Accepting Terms and Conditions <br>

                        6.1. Accepting our term is the same with signing a contract so when you will make an investment,
                        your acceptance of our rules will act like an electronic signature on a contract. You agree that
                        your age is legal in your country to participate in this program, and in all the cases your minimal
                        age must be 18 years. <br>
                        6.2. You understand that in all investment arrangements past performance is no guarantee of the
                        same future performance. Future earnings can be different with past earnings. We have the right to
                        configure our existing investment plans anytime.<br>
                        6.3. You agree that all information, communications and materials you will find on this website
                        are intended to be regarded as an informational and educational matter and not an investment advice.
                        We have the right to change the investment rates at any time to ensure the sustainability of the project.<br>
                        6.4. You acknowledge that you are acting as an individual and not for any other entity. By investing,
                        you agree, acknowledge, and accept that all information you receive is unsolicited, private
                        communications of privileged, proprietary, and confidential information for you only and you agree to
                        keep it private, confidential, and protected from any disclosure unless the information is obviously
                        of a public nature.<br><br>

                        7. Copyright <br>

                        7.1. We respect the intellectual property rights of others, and require that the people who use
                        MinersHome do the same.<br>
                        7.2. The contents of this site is protected by copyright and trademark laws, and are the property
                        of MinersHome. Unless we say otherwise, you may access the materials located within MinersHome only for your personal use.<br>
                        7.3. You may not modify, copy, publish, display, transmit, adapt or in any way exploit the content
                        of MinersHome website, www. MinersHome. Only if you obtain prior written consent from us
                        - and from all other entities with an interest in the relevant intellectual property - you may
                        publish, display or commercially exploit any material from MinersHome. To seek our permission,
                        you may contact us.<br><br>

                        8. Liability and Force Majeure <br>

                        8.1. MinersHome is not responsible for delays in transmission of an order due to any reasons
                        beyond its control. MinersHome does not control signal power, data transmission and receipt
                        via Internet, or configuration of the Client`s computer equipment and reliability of its connection.<br>
                        8.2. MinersHome is not accountable for any damage or loss of data caused by any events, actions
                        or omissions, that lead to delay or distortions in the transmission of information, requests and
                        orders due to a breakdown in any transmission facilities that are beyond the control of
                        MinersHome.<br>
                        8.3 MinersHome cannot be held responsible for any data communication failure, distortion or
                        delay if problems are from Client`s side.<br>
                        8.4. MinersHome is not liable for any default under this Agreement resulted from force majeure
                        circumstances, including but not limited to military actions, wars, strikes, rebellions,
                        natural disasters, governmental bans, any breakdown in normal communications or utilities
                        infrastructure services, etc.<br><br>

                        9. Terms and Conditions Amendments <br>

                        9.1. MinersHome reserves the right to modify Terms and Conditions at any time. You should
                        check Terms and Conditions periodically for changes. By using this site after we post any changes
                        to these terms and conditions, you agree to accept those changes, whether or not you have reviewed
                        them. If at any time you choose not to accept these terms and conditions of use, please do not use
                        this site.<br>
                    </p>
        </div>
    </div>
{% endblock %}
